:root {
	--bg-color: #e9e9e9;
	--tx-color: #252323;
	--ac-color: brown;
	--bd-color: #1b1a1a;
}

.parent {
	display: flex;
	flex-wrap: wrap;
}
.child {
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
}
/* .child:last-child {
    width: 100%;
} */

.parent > div {
	margin: 2%;
	text-align: center;
}

body {
	padding: 20px;
	/* padding: 4%; */
	/* font-family: Verdana; */
	font-family: "Nova Mono", monospace;
	font-weight: 600;
	font-style: normal;
	/* font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem); */
	background-color: var(--bg-color);
	color: var(--tx-color);
}
p {
	font-size: 1rem;
	/* margin-top: 0; */
}
a {
	font-size: 0.7rem;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
}
span {
	font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow-wrap: anywhere;
	word-break: break-all;
}

.child > img {
	height: 400px;
	width: 100%;
	object-fit: cover;
}
.detail {
	width: 500px;
	display: inline-block;
	overflow-wrap: anywhere;
	word-break: break-all;
}
details {
	margin: 2%;
	padding: 0 16%;
	font-size: .8em;
	text-align: left;
}
summary {
	font-size: 1rem;
	text-align: center;
	list-style: none;
}
details > summary::after {
	content: "<|>";
}
details[open] > summary::after {
	content: "</>";
}

summary,
.p5Canvas {
	cursor: pointer;
}

@media (width <= 768px) {
	body {
		padding: 4%;
	}
	.p5Canvas {
		zoom: 0.5;
	}
	.detail {
		width: 250px;
	}
}

.parent {
	--x-gradient: repeating-linear-gradient(
		90deg,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 1) 10px,
		transparent 0,
		transparent calc(100% - 10px)
	);
	--y-gradient: repeating-linear-gradient(
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 1) 4px,
		transparent 0,
		transparent calc(100% - 4px)
	);
	background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient),
		var(--y-gradient);
	background-repeat: no-repeat;
	background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
	background-position: top, right, bottom, left;
}
.child {
	padding: 24px;
	position: relative;
}
.child::before,
.child::after {
	content: "";
	width: 24px;
	height: 250px;
	position: absolute;
}
.child::before {
	border-left: double 4px var(--bd-color);
	border-top: dotted 2px var(--bd-color);
	top: 0;
	left: 0;
}
.child::after {
	border-right: double 4px var(--bd-color);
	border-bottom: dotted 2px var(--bd-color);
	bottom: 0;
	right: 0;
}

.anim {
	animation: anim 3s forwards;
}

#composite {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 6, 308, 0.5);
	z-index: 999;
	mix-blend-mode: overlay;
	/* mix-blend-mode: multiply; */
	/* mix-blend-mode: screen; */
	position: fixed;
	pointer-events: none;
	background-image: linear-gradient(
			99deg,
			rgba(145, 175, 175, 0),
			rgba(188, 146, 166, 0.5)
		),
		radial-gradient(
			circle,
			rgba(238, 174, 202, 0.44861694677871145) 0%,
			rgba(81, 104, 130, 0.7875525210084033) 100%
		);
	/* animation: test 2s infinite; */
}
